<div class="navbar-fixed">
  <nav class="">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Maveric</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger">
        <i class="material-icons">menu</i>
      </a>
      <ul class="right hide-on-med-and-down">

        <li>
          <a href="#">Mobile</a>
        </li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li>
      <a href="sass.html">Sass</a>
    </li>
    <li>
      <a href="badges.html">Components</a>
    </li>
    <li>
      <a href="collapsible.html">Javascript</a>
    </li>
    <li>
      <a href="mobile.html">Mobile</a>
    </li>
  </ul>
</div>



<router-outlet></router-outlet>
<!-- <app-multi-player-leader-board></app-multi-player-leader-board> -->

<!-- <app-multi-player-game></app-multi-player-game> -->


<footer class="page-footer">
  <div class="footer-copyright">
    <div class="container">
      © 2014 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>